.vs/
ItMe/bin/
ItMe/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ItMe/obj/
packages/
ItMe.Tests/bin/
ItMe.Tests/obj/
_ReSharper.Caches/
LetsPlayThen/bin/
LetsPlayThen/obj/LetsPlayThen.csproj.nuget.g.targets
LetsPlayThen/obj/
